html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}

#conference {
    position: relative;
    width: 100%;
    height: 100%;
}

#remote {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#local {
    position: absolute;
    width: 320px;
    height: 240px;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}