#container {
  width: 100%;
  min-height: calc(100% - 44px);
  margin-bottom: -28px;
  text-align: center;
}
#container h2 {
  margin: 60px 0;
  color: white;
  font-family: Roboto;
  font-weight: 300;
  font-size: 40px; }
#container video {
  background: black; }
#container #start-call {
  display: inline-block; }
#container #start-call [type="text"] {
  border: none;
  height: 30px;
  width: 220px;
  padding: 4px 40px 4px 20px;
  font-size: 14px;
  font-family: Roboto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  outline: none; }
#container #start-call button {
  background: #1797DE;
  border: 3px solid #1e1e1e;
  height: 38px;
  padding: 4px 30px;
  margin-left: -30px;
  color: #ffffff;
  font-size: 14px;
  font-family: Roboto;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: background 0.10s linear;
  -moz-transition: background 0.10s linear;
  transition: background 0.10s linear;
  cursor: pointer;
  outline: none; }
#container #start-call #my-number {
  width: 100%;
  padding: 10px 0 0;
  color: white;
  font-family: Roboto;
  text-align: center; }
#container #start-call button:hover {
  background: #1581C8; }
#container #fct button {
  background: #1797DE;
  border: 3px solid #1e1e1e;
  height: 38px;
  padding: 4px 30px;
  margin-left: -30px;
  color: #ffffff;
  font-size: 14px;
  font-family: Roboto;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: background 0.10s linear;
  -moz-transition: background 0.10s linear;
  transition: background 0.10s linear;
  cursor: pointer;
  outline: none; }
#container #record-fct button:hover {
  background: #1581C8; }
#container #select-device {
  display: inline-block;
  margin-top: 50px;
  width: 100%;
  float: left;
  clear: both; }
#container #select-device .center {
  width: 300px;
  margin: 0px auto; }
#container #select-device .center .custom-select {
  border: none;
  height: 30px;
  width: 300px;
  padding: 4px 40px 4px 20px;
  font-size: 14px;
  font-family: Roboto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  outline: none; }
#container #select-device .center #my-mic, #container #select-device .center #my-camera {
  width: 100%;
  padding: 10px 0 0;
  color: white;
  font-family: Roboto;
  text-align: center; }
#container #call {
  display: inline-block;
  margin-bottom: 100px;
  position: relative;
  width: 100%; }
#container #call #hangup {
  display: none;
  background: #E4371D;
  border: none;
  color: white;
  margin-bottom: 15px;
  padding: 5px 15px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.10s linear;
  -moz-transition: all 0.10s linear;
  transition: all 0.10s linear; }
#container #call #hangup:hover {
  background: #C9311a; }
#container #call #error-device {
  text-align: center;
  color: red;
  display: none; }
#container #call #local-container {
  text-align: right;
  display: inline-block; }
#container #call #local-container video {
  height: 480px; }
#container #call #remote-container video {
  height: 300px; }
#timeline{
  width:100%;overflow:auto;white-space: nowrap; font-size: 0;}
#timeline img{
  height:200px;display: inline-block; }
#timeline a{
  display: inline-block;}

.slidecontainer {
  color: white;
  width: 40%;
  margin: 15px auto;
}
.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1797DE;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1797DE;
  cursor: pointer;
}
label
{
	display: block;
	width: 150px;
	float: left;
}

/*# sourceMappingURL=select-media.css.map */
