#container {
    width: 100%;
    min-height: calc(100% - 44px);
    margin-bottom: -28px;
    text-align: center;

    h2 {
        margin: 60px 0;
        color: white;
        font-family: Roboto;
        font-weight: 300;
        font-size: 40px;
    }

    #conversation-selector {
        display: inline-block;

        [type="text"] {
            border: none;
            height: 30px;
            width: 220px;
            padding: 4px 40px 4px 20px;
            font-size: 14px;
            font-family: Roboto;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            outline: none;
        }

        button {
            background: #1797DE;
            border: 3px solid rgba(30, 30, 30, 1);
            height: 38px;
            padding: 4px 30px;
            margin-left: -30px;
            color: #ffffff;
            font-size: 14px;
            font-family: Roboto;
            text-transform: uppercase;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            -webkit-transition: background 0.10s linear;
            -moz-transition: background 0.10s linear;
            transition: background 0.10s linear;
            cursor: pointer;
            outline: none;

            &:hover {
                background: #1581C8;
            }
        }

        #my-number-legend {
            width: 100%;
            padding: 10px 0 0;
            color: white;
            font-family: Roboto;
            text-align: center;
        }
    }

    #chat {
        display: none;
        width: 600px;        
        margin: auto;
        h3 {
            margin: 20px 0;
            color: white;
            font-family: Roboto;
            font-weight: 300;
            font-size: 30px;
        }
        
        #chat-body {            
            height: 200px;
            display: flex;
            text-align: left;            
            font-family: Roboto;
            width: 100%;            
            #message-list {                
                list-style-type: none;
                flex-basis: 80%;
                padding-left: 15px;
                margin: auto;
                height: 100%;
                background: #dddddd;
                overflow-y: auto;
            }
            #active-users {                  
                list-style-type: none; 
                flex-basis: 20%; 
                padding-left: 5px;
                margin: auto;
                height: 100%;
                background: #bbbbbb;
            }
        }        

        #chat-footer {
            width: 100%;
            display: flex;

            #typing-area {
                flex-basis: 80%;
            }

            #send-message {
                flex-basis: 20%;
            }
        }
    }
}