#container {
    width: 100%;
    min-height: calc(100% - 44px);
    margin-bottom: -28px;
    text-align: center;

    h2 {
        margin: 60px 0;
        color: white;
        font-family: Roboto;
        font-weight: 300;
        font-size: 40px;
    }

    #create {
        display: inline-block;

        [type="text"] {
            border: none;
            height: 30px;
            width: 220px;
            padding: 4px 40px 4px 20px;
            font-size: 14px;
            font-family: Roboto;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            outline: none;
        }

        button {
            background: #1797DE;
            border: 3px solid rgba(30, 30, 30, 1);
            height: 38px;
            padding: 4px 30px;
            margin-left: -30px;
            color: #ffffff;
            font-size: 14px;
            font-family: Roboto;
            text-transform: uppercase;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            -webkit-transition: background 0.10s linear;
            -moz-transition: background 0.10s linear;
            transition: background 0.10s linear;
            cursor: pointer;
            outline: none;

            &:hover {
                background: #1581C8;
            }
        }
    }

    #conference {
        display: none;
        margin-bottom: 100px;

        #local-container {
            text-align: right;

            video {
                height: 200px;
            }
        }

        #remote-container {
            video {
                height: 300px;
            }
        }
    }
}